.unused-area-image {
    max-width: 100%;
    height: auto;
}

.small-rooms-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
}

.large-room-container {
    width: calc(100% * 2.5 / 6);
}
