
#dygraph {
    height: 500px;
    width: 800px;
}

.dygraph-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

/*
    Styling for the Graph
*/

.dygraph-xlabel {
    position: absolute;
    left: 45%;
    margin-top: 15px;
}