svg {
    filter: url("#outer-drop-shadow");
}

svg:hover {
    filter: brightness(0.9) url("#outer-drop-shadow");
    cursor: pointer;
}

svg:active {
    filter: brightness(0.9) url("#inset-shadow");
}

