.floor-plan-container {
    background-color: #F6F8FF;
    width: 100%;
    padding: 30px;
    border-radius: 0px 0px 20px 0px;
}

@media (max-width: 1280px) {
    .floor-plan-container {
        border-radius: 0px 0px 20px 20px;
    }
}